@inherits LayoutComponentBase

<div class="container-fluid">
    <a href="">Droplet Logo</a>
    <button type="button">
        <NavLink class="nav-link" href="login">
            Sign up/Log in
        </NavLink>
    </button>
</div>

<NavMenu />

<main class="container">
    @Body
</main>
