<nav>
    <div class="navbar">
        <ul>
            <li><a href=" ">Home Page</a></li>
            <li><a href="forum">Forum</a></li>
            <li><a href="outages">Outages</a></li>
            <li><a href="resources">Resources</a></li> 
        </ul>
    </div>
</nav>
