/* /Shared/MainLayout.razor.rz.scp.css */
@media (max-width: 858px) {

    button[b-r2myml87qf]{
        float: right;
        text-align:  center;
        margin-top:  25px;
        background: #38B2E3;
        border-color:  #38B2E2;
        border-radius:  3px;
        padding-top: 5px;
        padding-bottom:  5px;;
    }
    
    .dropletlogo[b-r2myml87qf]{
        width: 300px;
        height: 75px;
    }

}


/* /Shared/NavMenu.razor.rz.scp.css */




nav[b-nxleouabg7] {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    background: white;
    font-family: sans-serif;
    margin-bottom: 25px;
}

.navbar ul[b-nxleouabg7]{
    list-style: none;
    background: #38B2E3;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    text-align: center;
    z-index: 999;
}

.navbar li[b-nxleouabg7]{
    display: inline-block;

}

.navbar a[b-nxleouabg7]{
    text-decoration: none;
    color: white;
    width: 150px;
    display: block;
    padding: 25px 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover[b-nxleouabg7]{
    background-color: #3DC2F7;
    border-radius: 5px;

}

.bars[b-nxleouabg7]{
 width: 35px;
 height: 5px;
 background-color: white; /* collapse expand button */
 margin: 5px 0;
}


.checkbtn[b-nxleouabg7]{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 90px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  margin-top: 25px;
}
#check[b-nxleouabg7]{   /*make checkbox invis will be ontop of button to select when clicked*/
  display: none;
}
@media (max-width: 952px){

  nav ul li a[b-nxleouabg7]{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn[b-nxleouabg7]{
    display: block;
  }

*[b-nxleouabg7]{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav[b-nxleouabg7]{
  background: #3DC2F7;
  height: 81px;
  width: 100%;
  margin: 0 0;
    margin-bottom: 25px;
}
  .navbar ul[b-nxleouabg7]{                  /* ul, li, a will move to expanded area onclick*/
    position: absolute;
    width: 100%;
    max-height: 150px;
    background: #2c3e50;
    top: 154px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .navbar ul li[b-nxleouabg7]{
    display: inline-grid;
    margin: 1px auto;
    line-height: 20px;
    text-align: center;
  }
  .navbar ul li a[b-nxleouabg7]{
    font-size: 12px;
    text-align: center;
    margin: 1px auto;
    white-space: nowrap;
    
  }
  .navbar a:hover[b-nxleouabg7]{
    background: none;
    color: #3DC2F7;
  }
  #check:checked ~ ul[b-nxleouabg7]{
    left: 0;
  }
}
