@page "/"
<style>
  .about-us{
     text-align: center;
     text-indent: 30px;
     line-height: 1.5;
     max-width: 30rem;  
     margin:  auto;
    }
    img{
     max-width: 100%;
     max-height: 2%;
    }
  h1{
     margin-bottom: 25px;
   }
</style>

<PageTitle>Droplet Home</PageTitle>

<h1 class="d-flex justify-content-center page-item">Lafayette Utility Service Updates</h1>

<img src="Lafayette-LA-Map.jpg" class="d-block me-auto ms-auto pb-3" alt="map of the Lafayette area"> 

<h3 class="d-flex justify-content-center page-item">About Us</h3>
<p class="about-us">
    Droplet aims to create a place where Lafayette residents can
    sign up to recieve notifications of various issues which may occur within
    the water utility companies in the area. Participating companies will be able
    to notify users of issues and include estimated fix times. We aslo aim to encourage community
    interaction within our forum. The goal of this forum is for users to be able
    to view unconfirmed outages or issues that fellow community members are experiencing.
    This isn't specifically limited to utilites, but is encouraged to include things like 
    downed trees, downed power lines, or road closures that community members wish to share
    to everyone involved.
</p>