@page "/resources"


<style>
    /* Page content */
    h1{
     text-align: center;
     margin-top: 40px;
    }
    
    h2{
     text-align: center;
    }
    
    #resources{
     text-align: center;
     text-indent: 30px;
     line-height: 1.5;
     max-width: 50%;
     margin: 0 auto 30px;
     margin-top: 25px;
    }
 
    
    a.link{
     font-family: sans-serif;
     color: #0082e6;
     text-decoration: none;
    }
    
    #freezing{
     text-align: center;
     text-indent: 30px;
     line-height: 1.5;
     max-width: 50%;
     margin: 0 auto 30px;
     margin-top: 25px;
    }
    /*end page content*/
    

</style>


<!-- end page header section -->

<body>
<h1>User Resources</h1>
<div id="resources">
  
    <h2>Natural Disaster</h2>
  
    <p>
        In case of natural disaster it is recommended to keep a list contacts. This list should include personal emergency
        contacts, the local police, and local fire department. In the case of water issues from natural 
        disaster you should contact your utility provider. We recommend keeping drinking water on hand in the event of power
        outages and or flooding. To ensure non-bottled water is safe for consumption the United States Environmental Protection Agency recommends 
        to boil water for 1-3 minutes.It is recommended to limit contact with flood water. Flood water may have high levels
        of unknown or hazardous substances. Be sure to stay informed with local news and keep updated on reported damages
        and recovery resources available to you. 
        <br> 
        <a class="link" href="https://www.epa.gov/waterutilityresponse">More information</a>
    </p>

    <br>
</div>

<div id="freezing">
    <h2>Freezing Temperatures</h2>
<p>
    It is important to be aware of freezing temperatures and what actions should be taken to protect
    utilities. In the event of severe cold weather conditions for extended periods of time, water pipes
    may freeze. A simple prevention method to save pipes is to routinely run water for a few minutes
    throughout the day, or leave a slow drip. Hoses should be removed from exterior faucets and the valves
    should be closed. In the event of a frozen pipe, water should be turned off and a plumber should be 
    notified.
</p>
</div>
    <br>
</body>